$header-height-pct: 75%;
$header-height-vh: 75vh;
$header-min-height: 400px;

$header-height-pct-sm: 75%;
$header-height-vh-sm: 75vh;
$header-min-height-sm: 450px;

$header-height-pct-lg: 85%;
$header-height-vh-lg: 85vh;
$header-min-height-lg: 480px;

$header-sm-height-pct: 50%;
$header-sm-height-vh: 50vh;
$header-sm-min-height: 300px;

$header-sm-height-pct-sm: 50%;
$header-sm-height-vh-sm: 50vh;
$header-sm-min-height-sm: 300px;

$header-sm-height-pct-lg: 50%;
$header-sm-height-vh-lg: 50vh;
$header-sm-min-height-lg: 300px;

header.masthead {
  height: $header-height-pct;
  height: $header-height-vh;
  height: calc($header-height - $navbar-height);
  height: calc($header-height-vh - $navbar-height);
  min-height: $header-min-height;
  margin-bottom: 2rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: scroll;
  position: relative;
  background-size: cover;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: $header-height-pct;
    height: $header-height-vh;
    height: calc($header-height-pct - $navbar-height);
    height: calc($header-height-vh - $navbar-height);
    min-height: $header-min-height;
    width: 100%;
    background-color: $background-color-overlay;
    opacity: $opacity;
  }
}

@media screen and (min-width: $breakpoint-sm) and (min-height: $breakpoint-sm * 0.5) {
  header.masthead {
    height: $header-height-pct-sm;
    height: $header-height-vh-sm;
    height: calc($header-height-pct-sm - $navbar-height);
    height: calc($header-height-vh-sm - $navbar-height);
    min-height: $header-min-height-sm;

    .overlay {
      height: $header-height-pct;
      height: $header-height-vh;
      height: calc($header-height-pct - $navbar-height);
      height: calc($header-height-vh - $navbar-height);
      min-height: $header-min-height-sm;
    }
  }
}

@media screen and (min-width: $breakpoint-lg) and (min-height: $breakpoint-lg * 0.5) {
  header.masthead {
    height: $header-height-pct-lg;
    height: $header-height-vh-lg;
    height: calc($header-height-pct-lg - $navbar-height);
    height: calc($header-height-vh-lg - $navbar-height);
    min-height: $header-min-height-lg;
  }
  header.masthead .overlay {
    height: $header-height-pct-lg;
    height: $header-height-vh-lg;
    height: calc($header-height-pct-lg - $navbar-height);
    height: calc($header-height-vh-lg - $navbar-height);
    min-height: $header-min-height-lg;
  }
}


/* .masthead.masthead-sm */
header.masthead.masthead-sm {
  height: $header-sm-height-pct;
  height: $header-sm-height-vh;
  height: calc($header-sm-height-pct - $navbar-height);
  height: calc($header-sm-height-vh - $navbar-height);
  min-height: $header-sm-min-height;
  margin-bottom: 2rem;
}
header.masthead.masthead-sm .overlay {
  height: $header-sm-height-pct;
  height: $header-sm-height-vh;
  height: calc($header-sm-height-pct - $navbar-height);
  height: calc($header-sm-height-vh - $navbar-height);
  min-height: $header-sm-min-height;
}
@media screen and (min-width: $breakpoint-sm) and (min-height: $breakpoint-sm * 0.67) {
  header.masthead.masthead-sm {
    height: $header-sm-height-pct-sm;
    height: $header-sm-height-vh-sm;
    height: calc($header-sm-height-pct-sm - $navbar-height);
    height: calc($header-sm-height-vh-sm - $navbar-height);
    min-height: $header-sm-min-height-sm;
    margin-bottom: 2rem;
  }
  header.masthead.masthead-sm .overlay {
    height: $header-sm-height-pct-sm;
    height: $header-sm-height-vh-sm;
    height: calc($header-sm-height-pct-sm - $navbar-height);
    height: calc($header-sm-height-vh-sm - $navbar-height);
    min-height: $header-sm-min-height-sm;
  }
}
@media screen and (min-width: $breakpoint-lg) and (min-height: $breakpoint-lg * 0.5) {
  header.masthead.masthead-sm {
    height: $header-sm-height-pct-lg;
    height: $header-sm-height-vh-lg;
    height: calc($header-sm-height-pct-lg - $navbar-height);
    height: calc($header-sm-height-vh-lg - $navbar-height);
    min-height: $header-sm-min-height-lg;
    margin-bottom: 2rem;
  }
  header.masthead.masthead-sm .overlay {
    position: absolute;
    height: $header-sm-height-pct-lg;
    height: $header-sm-height-vh-lg;
    height: calc($header-sm-height-pct-lg - $navbar-height);
    height: calc($header-sm-height-vh-lg - $navbar-height);
    min-height: $header-sm-min-height-lg;
  }
}

header.masthead {
  a {
    color: $color-masthead;
    text-decoration: underline;
  }

  a:hover {
    color: $color-a-masthead-hover;
  }

  .page-heading {
    padding: 23% 0 0;
    padding: 23vh 0 0;
    color: $color-masthead;
    text-align: center;

    h1 {
      font-family: $font-primary;
      font-size: 2.9rem;
      font-weight: 700;
      padding-bottom: 2rem;
    }

    .subheading {
      font-family: $font-secondary;
      font-size: 1.1rem;
      line-height: 1.6;
      display: block;
      margin: 0.5rem 0 0;
    }
  }

  @media screen and (min-width: $breakpoint-sm) and (min-height: $breakpoint-sm * 0.67) {
    .page-heading {
      padding: 25% 0 0;
      padding: 25vh 0 0;

      h1 {
        font-size: 4rem;
      }

      subheading {
        font-size: 1.5rem;
        margin: 0.5rem 0 0;
      }
    }
  }

  @media screen and (min-width: $breakpoint-lg) and (min-height: $breakpoint-lg * 0.5) {
    .page-heading {
      padding: 30% 0 0;
      padding: 30vh 0 0;

      h1 {
        font-size: 6rem;
      }

      .subheading {
        font-size: 1.75rem;
        margin: 0.5rem 0 0;
      }
    }
  }
}



/* .masthead-sm .page-heading*/
header.masthead.masthead-sm .page-heading {
  padding: 14% 0 0;
  padding: 14vh 0 0;
}
@media screen and (min-width: $breakpoint-sm) and (min-height: $breakpoint-sm * 0.67) {
  header.masthead.masthead-sm .page-heading {
    padding: 10% 0 0;
    padding: 10vh 0 0;
  }
}
@media screen and (min-width: $breakpoint-lg) and (min-height: $breakpoint-lg * 0.5) {
  header.masthead.masthead-sm .page-heading {
    padding: 8% 0 0;
    padding: 8vh 0 0;
  }
}

/* post-heading */
header.masthead .post-heading {
  padding: 13% 0 0;
  padding: 13vh 0 0;
  color: #F9F9F9;
}
header.masthead .post-heading h1 {
  font-size: 2rem;
  padding-bottom: 1.25rem;
}
header.masthead .post-heading .subheading, 
header.masthead .post-heading .meta {
  line-height: 1.25;
  display: block;
  font-family: $font-secondary;
  padding-bottom: 0.5rem;
}
header.masthead .post-heading .subheading {
  font-size: 1.25rem;
  margin: 0.5rem 0 0.5rem;
}
header.masthead .post-heading .meta {
  font-size: 1rem;
  font-style: italic;
}
@media screen and (min-width: $breakpoint-sm) and (min-height: $breakpoint-sm * 0.67) {
  header.masthead .post-heading {
    padding: 15% 0 0;
    padding: 15vh 0 0;
  }
  header.masthead .post-heading h1 {
    font-size: 3rem;
  }
  header.masthead .post-heading .subheading, 
  header.masthead .post-heading .meta {
    line-height: 1.2;
  }
  header.masthead .post-heading .subheading {
    font-size: 1.5rem;
  }
  header.masthead .post-heading .meta {
    font-size: 1rem;
  }
}
@media screen and (min-width: $breakpoint-lg) and (min-height: $breakpoint-lg * 0.5) {
  header.masthead .post-heading {
    padding: 15% 0 0;
    padding: 15vh 0 0;
  }
  header.masthead .post-heading h1 {
    font-size: 4rem;
  }
  header.masthead .post-heading .subheading, 
  header.masthead .post-heading .meta {
    line-height: 1.2;
  }
  header.masthead .post-heading .subheading {
    font-size: 2rem;
  }
  header.masthead .post-heading .meta {
    font-size: 1.25rem;
  }
}
